body {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(20, 215, 193, 1) 97%
  );
}

.title {
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  font-family: "Stick No Bills", sans-serif;
  letter-spacing: 0.7rem;
  text-shadow: 0.3rem 0.3rem 0.2rem black;
  height: 10vh;
  margin: 0;
}

input[type="button"] {
  background-color: rgb(8, 184, 163);
  border-radius: 10%;
  font-size: 1rem;
  color: #ffffff;
}



main {
  height: 90vh;
}

.content {
  border: 1px solid black;
  background-color: #ffffff;
  min-width: 30vw;
  max-width: 60vw;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 7px 6px 10px 2px rgba(0, 0, 0, 0.72);
  font-family: "Koh Santepheap", cursive;
  font-size: 1.3rem;

}

.search {
  /* margin: 1rem; */
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}




p {
  margin: 0.3rem 0;
}

.result {
  padding: 0.5rem;
  margin: 0 auto;
  width: 25vw;
}


@media (max-width: 700px) {
  .content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  label,
  input {
    margin: 0.3rem;
  }
  .title {
    font-size: 2.3rem;
  }
  .content {
    font-size: 1rem;
  }
}
